{% extends 'base/head.html' %}
{% block title%}Foro{% endblock %}
{% block nav %}
{% include 'nav.html'%}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-2 d-none d-sm-block shadow p-3">
        <div class="card backgroundimg h-100">

        </div>
      </div>
      <div class="col-md-6 mt-2 p-3">
        <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Bienvenidos</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Todos</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis delectus doloribus corrupti dolorem, libero in expedita esse enim consequuntur voluptate veniam velit iste consequatur porro?
                       Quae recusandae laudantium repudiandae culpa!</p>
                       <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis delectus doloribus corrupti dolorem, libero in expedita esse enim consequuntur voluptate veniam velit iste consequatur porro?
                            Quae recusandae laudantium repudiandae culpa! <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quam perferendis architecto, natus earum dicta maxime odio magni in laborum delectus quos animi fugit. Provident, sapiente, dicta? Iste, itaque, quia.</span>
                            <span>Dolorem obcaecati provident nam iusto dolorum quidem, quia laborum sed commodi amet ducimus atque, libero quibusdam iste non perferendis, at voluptatibus ipsum nobis. Qui recusandae quaerat perspiciatis, sunt, architecto cum.</span>
                            <span>Explicabo nesciunt perspiciatis id autem obcaecati excepturi nobis consequatur necessitatibus, architecto tenetur unde aspernatur, voluptates saepe sed! Quia molestias nobis asperiores impedit repudiandae vitae soluta, et rerum iusto aut ab.</span>
                            <span>Repellendus nihil atque voluptate blanditiis cum fugiat provident voluptatibus maxime quisquam id, impedit quas obcaecati itaque dolore necessitatibus exercitationem corporis, nam numquam inventore, perferendis modi sapiente consequuntur sint. Vero, dolore.</span>
                            <span>Ratione esse, eaque quis commodi eius impedit animi reiciendis id officia. Animi, vel, modi! Accusantium, quas sint inventore, nisi cupiditate, delectus consequuntur ipsam amet ad voluptatum perspiciatis, similique reiciendis iure.</span></p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
        </div>
      </div>
      <div class="col-md-3 d-none d-sm-block mt-2 shadow p-3">
          <div class="card backgroundimg h-100">

          </div>
      </div>

    </div>
  </div>


{% endblock %}
