<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
    <title>Holi</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12 d-flex justify-content-center mt-5">
            <div class="col-md-7">
                
                 <!-- <div class="form-group bg-danger text-center">
                     <label for="">Usuario : </label>
                     <label for="" class="text-white">{{ usuario }}</label>
                 </div>
                 
                 <div class="form-group bg-primary text-center ">
                     <label for="">Contraseña : </label>
                     <label for="" class="text-white">{{ contra }}</label>
                 </div> -->

                 <div class="form-group bg-primary text-center ">
                        <label for="">Buscador : </label>
                        <label for="" class="text-white">{{ search }}</label>
                    </div>
                
            </div>
        </div>
    </div>
   
</body>
</html>